@font-face {
  font-family: 'MuseoSansRounded';
  src:  url('../fonts/MuseoSansRounded-100.otf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansRounded';
  src:  url('../fonts/MuseoSansRounded-300.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansRounded';
  src:  url('../fonts/MuseoSansRounded-500.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansRounded';
  src:  url('../fonts/MuseoSansRounded-700.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansRounded';
  src:  url('../fonts/MuseoSansRounded-900.otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansRounded';
  src:  url('../fonts/MuseoSansRounded-1000.otf');
  font-weight: 1000;
  font-style: normal;
}