@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1rj2kk');
  src:  url('../fonts/icomoon.eot?1rj2kk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1rj2kk') format('truetype'),
    url('../fonts/icomoon.woff?1rj2kk') format('woff'),
    url('../fonts/icomoon.svg?1rj2kk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}